---
---
@import "main";
.jumbotron {
  background-image:url("/assets/images/backgroundMEG.png");
  background-color: rgb(220,220,220);
  height: 280px;
/*  background-repeat: no-repeat; */
/*  background-size: cover; */
}
