<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
<div class="nav">
    <div class="container">
    <ul class="nav nav-pills pull-left">
        <li><a href="{{ site.baseurl }}">Home</a></li>
        <li><a href="{{ site.baseurl }}research">Research</a></li>
        <li><a href="{{ site.baseurl }}teaching">Teaching</a></li>
    </ul>
    <ul class="nav nav-pills  pull-right">
        <li><a href="{{ site.baseurl }}about&contact">About & Contact</a></li>
    </ul>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
    <h1>Felix Lucka</h1>
    <p>welcome to my academic web site</p>
    </div>
</div> 

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
